<h1>Hubungi Kami</h1>
<p>{{ TestimoniSlickPlugin() }}<br></p>
<div class="mp-row-fluid motopress-row mpce-dsbl-margin-left mpce-dsbl-margin-right">
									<div class="mp-span12 motopress-clmn  mpce-dsbl-margin-left mpce-dsbl-margin-right">
										<div class="motopress-google-map-obj">
											<iframe class="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
											        src="https://maps.google.com/maps?q=Jl.+Radin+Inten+II+No.62+Duren+Sawit+Kota+Jakarta+Timur+Daerah+Khusus+Ibukota+Jakarta&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near">
											</iframe>
										</div>
									</div>
								</div>