<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="footer-widgets" class="full-container">
        <aside id="text-3" class="widget widget_text">
            <h3 class="widget-title">LOCATION</h3>
            <div class="textwidget">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1402.27228642798!2d106.92177297200409!3d-6.234047577335892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698cb7dd84fead%3A0x38d5291d58c2f6f2!2sJl.+Radin+Inten+II+No.62%2C+Duren+Sawit%2C+Kota+Jakarta+Timur%2C+Daerah+Khusus+Ibukota+Jakarta!5e0!3m2!1sid!2sid!4v1465042448346"
                        width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </aside>
        <aside id="recent-posts-widget-with-thumbnails-5" class="widget recent-posts-widget-with-thumbnails">
            <div id="rpwwt-recent-posts-widget-with-thumbnails-5" class="rpwwt-widget">
                <h3 class="widget-title">LATEST NEWS</h3>
                <ul>
                    <li><a href="https://www.toyotadjakarta.com/2017/01/paket-dp-murah-toyota.html" target="_blank">
                            <img width="50" height="50"
                                 src="uploads/abu-600-x-356-150x150.jpg"
                                 class="attachment-50x50 size-50x50" alt="paket dp murah toyota" data-attachment-id="979"
                                 data-permalink="/2017/01/toyota-venturer.html/abu-600-x-356#main"
                                 data-orig-file="uploads/abu-600-x-356.jpg"
                                 data-orig-size="600,356"
                                 data-comments-opened="1"
                                 data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                 data-image-title="paket dp murah toyota" data-image-description=""
                                 data-medium-file="uploads/abu-600-x-356-300x178.jpg"
                                 data-large-file="uploads/abu-600-x-356.jpg"/>
                            <span class="rpwwt-post-title">Paket Dp Murah Toyota &#8211; Promo Toyota Jakarta 2017 &#8211; TDP &#038; kredit angsuran ringan</span>
                        </a>
                    </li>
                    <li>
                        <a href="/2017/01/toyota-venturer.html" target="_blank">
                            <img width="50" height="50"
                                 src="uploads/fit-688-x-408-600-x-356-150x150.jpg"
                                 class="attachment-50x50 size-50x50" alt="toyota venturer" data-attachment-id="968"
                                 data-permalink="/2017/01/toyota-venturer.html/fit-688-x-408-600-x-356#main"
                                 data-orig-file="uploads/fit-688-x-408-600-x-356.jpg"
                                 data-orig-size="600,356"
                                 data-comments-opened="1"
                                 data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                 data-image-title="toyota venturer" data-image-description=""
                                 data-medium-file="uploads/fit-688-x-408-600-x-356-300x178.jpg"
                                 data-large-file="uploads/fit-688-x-408-600-x-356.jpg"/>
                            <span class="rpwwt-post-title">Toyota Venturer 2017 terbaru &#8211; Spesifikasi &#038; Harga Toyota Venturer Jakarta</span>
                        </a>
                    </li>
                    <li>
                        <a href="/2017/01/harga-toyota-calya.html" target="_blank">
                            <img width="50" height="50"
                                 src="uploads/orange-metalic-600-x-375-60x60.jpg"
                                 class="attachment-50x50 size-50x50" alt="harga toyota calya"
                                 srcset="uploads/orange-metalic-600-x-375-60x60.jpg 60w, uploads/orange-metalic-600-x-375-150x150.jpg 150w"
                                 sizes="(max-width: 50px) 100vw, 50px" data-attachment-id="805"
                                 data-permalink="/2017/01/harga-toyota-calya.html/orange-metalic-600-x-375#main"
                                 data-orig-file="uploads/orange-metalic-600-x-375.jpg"
                                 data-orig-size="600,375"
                                 data-comments-opened="1"
                                 data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                 data-image-title="harga toyota calya"
                                 data-image-description=""
                                 data-medium-file="uploads/orange-metalic-600-x-375-300x188.jpg"
                                 data-large-file="uploads/orange-metalic-600-x-375.jpg"/>
                            <span class="rpwwt-post-title">Harga Toyota Calya 2017 &#8211; Kredit Calya Tdp Rendah &#8211; Toyota Jakarta</span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>
        <aside id="text-9" class="widget widget_text">
            <h3 class="widget-title">SITE INFO</h3>
            <div class="textwidget">
                <center>
                    <a href="http://www.dmca.com/Protection/Status.aspx?ID=86b516aa-4b3b-4ce4-8ee4-20a3a1a469a2"
                       title="DMCA.com Protection Status" class="dmca-badge"> <img
                                src="http://images.dmca.com/Badges/dmca_protected_27_120.png?ID=86b516aa-4b3b-4ce4-8ee4-20a3a1a469a2"
                                alt="DMCA.com Protection Status"/></a>
                    <a href="/" alt="page hit counter" target="_blank">
                        <embed src="https://s10.histats.com/306.swf" flashvars="jver=1&acsid=3495904&domi=4"
                               quality="high" width="118" height="60" name="306.swf" align="middle"
                               type="application/x-shockwave-flash"
                               pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent"/>
                    </a>
                    <img src="//sstatic1.histats.com/0.gif?3495904&101" alt="site stats" border="0" />

                </center>
            </div>
        </aside>
    </div>
    <!-- #footer-widgets -->

    <div id="site-info">
        <a href="https://www.toyotadjakarta.com/">Promo Toyota Jakarta </a> All Rights Reserved.
    </div><!-- #site-info -->

</footer>
<!-- #colophon .site-footer -->