<header id="masthead" class="site-header" role="banner">
    <div class="hgroup full-container masthead-sidebar">
        <div id="masthead-widgets" class="full-container">
            <aside id="text-19" class="widget widget_text">
                <div class="textwidget">
                    <a href="/" target="_blank">
                        <img alt="harga toyota sienta" src="{{ image_url('theme::img/logo.png') }}" width="200" height="300"/>
                    </a>
                </div>
            </aside>
        </div>
    </div>
    {% include "theme::partials/navigation" %}
</header>
