<div id="scb-wrapper" class="scb-fixed">
        <h2>Contact to us : Salmon</h2>
        <ul id="scb-directs">
            <li id="scb-phone"><a href="tel:081283005227"><img src="{{ image_url('theme::img/phone_bright.svg') }}" alt="Phone Number" width="20" height="20">&nbsp;<span>081283005227</span></a></li>
            <li id="scb-cellphone"><a href="tel:081283005227"><img src="{{ image_url('theme::img/cellphone_bright.svg') }}" alt="Cell Phone Number" width="20" height="20">&nbsp;<span>081283005227</span></a></li>
            <li id="scb-email"><a href="mailto:salmonoloan@gmail.com"><img src="{{ image_url('theme::img/email_bright.svg') }}" alt="E-Mail" width="20" height="20">&nbsp;<span>salmonoloan@gmail.com</span></a></li>
        </ul>
    </div>