<h1>Harga Toyota Calya 2017 – Kredit Calya Tdp Rendah – Toyota Jakarta</h1>
<p><img src="/toyotadjakarta/public/files/images/orange-metalic-600-x-375.jpg" style="float: left; width: 309px; height: 195px; margin: 0px 20px 20px 0px;" width="309" height="195">Harga Toyota Calya – produk baru masih promo mempunyai specs tinggi tapi pricelist sangat terjangkau karena walaupun mobil Jepang tetapi pabrik berlokasi di Indonesia sehingga tidak ada biaya dan pajak import yang tinggi. Mobil Toyota Calya ini mempunyai design yang menarik dengan lekukan garis modern yang futuristik sehingga menghasilkan kesan stylish. Di bagian depan ada bumper dan grill yang berpadu tangguh terlihat sporty apalagi dengan design headlamp dan lampu sign yang menyempit dibagian samping.</p>
<p><br></p>
<p><img src="/toyotadjakarta/public/files/images/img-4-600-x-375.png" style="width: 302px; height: 190px; float: right; margin: 0px 0px 20px 20px;" width="302" height="190">Harga Toyota Calya yang terjangkau dan Fitur mobil ini sangat lengka dengan AC berteknologi baru yang sangat dingin dan yang lebih penting adalah kestabilannya sehingga walaupun berada di jalanan macet tetapi kondisi kabin tetap dingin dan nyaman. Udara segar dialirkan merata keseluruh sudut ruang dalam mobil. Ruang kaki dan kepala juga lebar apalagi dengan deretan kursi yang dapat diatur dengan digeser dan di rebahkan serta dilipat sehingga dapat membawa barang yang besar. Kursi baris ketiga sangat nyaman karena material yang tebal dan empuk serta cukup lapang.</p>
<figure><strong><img src="/toyotadjakarta/public/files/images/toyota-calya-dashboard-view-682-x-284.jpg" style="display: block; margin: auto;"></strong></figure>
<h3><strong>Harga Toyota Calya dan Fitur</strong></h3>
<p>Untuk menemani kenyamanan penumpang di dalam selain kursi premium juga ada system hiburan yang lengkap, mulai dari audio dan video system ingga koneksi untuk gadget. Untuk pengemudi terdapat posisi kemudi yang didesign pas sehingga semua device dapat diakses dengan mudah, apalagi dengan MID digital yang menyediakan data realtime kendaraan. Sisi safety juga sangat diperhatikan , selain ada seatbelt PLR yang bisa mengunci dan mengendur otomatis ketika terjadi benturan juga ada airbags atau kantung udara, selain itu juga struktur rangka mobil Toyota Calya ini sudah menggunakan teknologi yang dapat meredam efek benturan, bisa terlihat Harga Toyota Calya untuk spec seperti diatas anda mungkin masih mengira-ngira.<br>Sejak awal tahun berembus kabar bahwa PT Toyota Astra Motor (TAM) dengan PT Astra Daihatsu Motor sedang mempersiapkan LCGC (Low Cost Green Car) terbaru dengan model MPV. Kabarnya,Harga Toyota Calya Agya adalah rencana nama yang akan diberikan. Sekarang pertanyaan lanjutannya, berapa harga Toyota Calya MPV LCGC Toyota terbaru di Indonesia?</p>
<h2><strong>PROMO HARGA&nbsp;TOYOTA CALYA 2017 TERBARU</strong></h2>
<div class="ead-preview">
                                    <div class="ead-document" style="position:relative;">
                                        <iframe src="//docs.google.com/viewer?url=https%3A%2F%2Fwww.toyotadjakarta.com%2Fwp-content%2Fuploads%2F2017%2F01%2F16264RCFCV-PAKET-SUPER-KEREN-CALYA-JAWA-BALI-SUMATERA-2017-JAN-TUNAS.pdf&embedded=true&hl=en" style="width:100%; height:80%; border: none;min-height:500px;"></iframe>
                                        <p class="embed_download"><a href="https://www.toyotadjakarta.com/wp-content/uploads/2017/01/16264RCFCV-PAKET-SUPER-KEREN-CALYA-JAWA-BALI-SUMATERA-2017-JAN-TUNAS.pdf" download="">Download [108.14 KB] </a></p>
                                    </div>
                                </div>
<h3 style="text-align: justify;"><span style="text-decoration: underline;"><strong>Spesifikasi Toyota Calya</strong></span></h3>
<ul>
                                    <li>3NR VE Engine 1200cc+Dual VVTi</li>
                                    <li>Power Max 88PS/ 6000 RPM</li>
                                    <li>Torsi Max 11Kgm/ 4200 RPM</li>
                                    <li>Manual 5 Speed</li>
                                    <li>Automatic 4 Speed</li>
                                    <li>Penggerak Roda Depan</li>
                                    <li>Immobilizer+Alarm ( All Tipe )</li>
                                    <li>3 Point Seat Belt ( All Tipe )</li>
                                    <li>Parking Sensor ( All Tipe )</li>
                                    <li>ABS ( kecuali E MT STD )</li>
                                    <li>Struktur Body GoA ( All Tipe )</li>
                                    <li>Dual SRS Air Bag ( All Tipe )</li>
                                    <li>ISOFIX</li>
                                    <li>Tuas Transmisi pada dashboard</li>
                                    <li>Setir berbahan Urethane+Thumb Rest</li>
                                    <li>Sporty Seat+Integrated Headrest ( baris 1 )</li>
                                    <li>Power Outlet 12V pada baris 2</li>
                                    <li>Bumper dpn Trapezoidal</li>
                                    <li>Hexagonal Halogen Headlamp+Multir</li>
                                    <li>eflektor</li>
                                    <li>Foglamp+Chrome List ( Tipe G )</li>
                                    <li>Stylesh 14″ Alloy Wheel+Two Tone Color ( Sҽмϋα Tipe )</li>
                                    <li>Electric Outer Mirror+Turn Signal Lamp ( Tipe G )</li>
                                    <li>Handle Pintu Tipe Grip ( sewarna body )</li>
                                    <li>Audio Double DIN CD, USB, AUX+Bluetooth ( Tipe G )</li>
                                    <li>AC+Air Circulator ( All Tipe )</li>
                                    <li>Peredam Kam Mesin</li>
                                    <li>Arm Rest Baris 1</li>
                                    <li>Hand Brake Tipe Lever ( Modern )</li>
                                    <li>Meter Kombinasi+MID+Eco Indicator</li>
                                    <li>Kursi Baris 2 Sliding+Reclining</li>
                                    <li>Power Window ( All Tipe )</li>
                                    <li>One Touch Tumble ( kursi Baris 2 )</li>
                                    <li>Kabin Lega 7 Seater</li>
                                    <li>Bagasi Barang Luas ( muat 3 galon air )</li>
                                    <li>Ground Clearance Tinggi ( 180mm )</li>
                                    <li>Aero Stabilizing Fin ( ∂ι Spion ϑαƞ Lampu Blkg )</li>
                                    <li>Lampu Blkg dgn Horizontal Reflektor</li>
                                    <li>Short Pole Antena</li>
                                    <li>Warna White, Silver Met, Grey Met, Black, Red, Orange Met.</li>
                                </ul>
<p>Dengan level <strong>Harga Toyota Calya</strong> tidak akan terlalu bermasalah dengan
                                    Avanza. Apalagi nama Avanza sudah established dan kokoh sebagai backbone penjualan
                                    Toyota di Indonesia.</p>
<p>Anda berminat dengan <strong>Harga</strong> <strong>Toyota Calya </strong>yang kami tawarkan? <a href="http://localhost/toyotadjakarta/hubungi-kami.html/" target="_blank">Hubungi Kami</a>
                                    untuk informasi pemesanan <strong><a href="http://localhost/toyotadjakarta" target="_blank">mobil toyota terbaru<br></a></strong></p><p class="text-center"><strong><a href="http://localhost/toyotadjakarta" target="_blank">SEGERA HUBUNGI KAMI..!!  Dapatkan harga special melalui Website Kami  Tunas Toyota Jakarta Radin Inten<br></a></strong></p><p><strong><a href="http://localhost/toyotadjakarta" target="_blank"><br></a></strong></p><p class="text-center"><strong><a href="http://localhost/toyotadjakarta" target="_blank"><img src="/toyotadjakarta/public/files/images/ALAMAT-DAN-TELPON-1024x294.png"></a></strong>
                                </p>
