#upload .dropzone {
  padding: 50px 0;
  text-align: center;
  border-radius: 5px;
  border: 2px dashed #dddddd;
}
#upload .dropzone.dz-drag-hover {
  border-color: #555555;
}
#upload .dropzone > i,
#upload .dropzone > div {
  cursor: pointer;
  display: inline-block;
}
#upload .uploads .upload {
  position: relative;
}
#upload .uploads .upload:first-of-type {
  margin-top: 1em;
}
#upload .uploads .upload small {
  top: 1px;
  left: 0.25em;
  color: #ffffff;
  line-height: 1;
  position: absolute;
}
#upload .uploads .upload progress {
  margin-bottom: 0.25em;
}
#upload .uploads .upload .progress-upload {
  height: 24px;
  margin-bottom: 0;
}
#upload .uploads .upload .progress-upload .progress-bar span {
  margin-left: 5px;
}
